/* Filename: ./components/ToggleSwitch.css*/

.container {
    display: flex;
    justify-content: right;
    column-gap: 14px;
    text-align: center;
    }
    .toggle-switch {
    position: relative;
   
    display: inline-block;
    text-align: left;
    
    }
    .checkbox {
    display: none;
    }
    .label {
        width: 30px;
        height: 16px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 20px;
    }
    .inner {
    display: block;
    width: 200%;
    margin-left: -100%;
   
    }
    .inner:before,
    .inner:after {
    float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    }
    .inner:before {
    content: "";
    padding-left: 10px;
    background-color: #060;
    color: #fff;
    }
    .inner:after {
    content: "";
    padding-right: 10px;
    
    color: #fff;
    text-align: right;
    }
    .switch {
    display: block;
    width: 16px;
    height: 16px;
    
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    
    border: 1px solid #000000;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    }
    .checkbox:checked + .label .inner {
    margin-left: 0;
    }
    .checkbox:checked + .label .switch {
    right: 0px;
    }
    